@font-face {
  font-family: vazirMedium;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Vazir-Medium.woff") format("woff"), url("../fonts/Vazir-Medium.woff2") format("woff2");
}

@font-face {
  font-family: vazirRegular;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Vazir-Regular.woff") format("woff"), url("../fonts/Vazir-Regular.woff2") format("woff2");
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: vazirMedium;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.navigation .welcome {
  font-size: 1.9rem;
}

.navigation .logo {
  height: 5.25rem;
}

.navigation .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.navigation .login .login__input {
  border: 1px solid #fff;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  width: 12rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  text-align: center;
  color: inherit;
  font-family: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navigation .login .login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.navigation .login .login__input::-webkit-input-placeholder {
  color: #bbb;
}

.navigation .login .login__input:-ms-input-placeholder {
  color: #bbb;
}

.navigation .login .login__input::-ms-input-placeholder {
  color: #bbb;
}

.navigation .login .login__input::placeholder {
  color: #bbb;
}

.navigation .login .login__btn {
  font-size: 2.2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: inherit;
}

.navigation .login .login__btn:hover, .navigation .login .login__btn:focus {
  outline: none;
  color: #777;
}

.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 4fr;
      grid-template-columns: 3fr 4fr;
  -ms-grid-rows: auto 15rem 15rem 15rem auto;
      grid-template-rows: auto 15rem 15rem 15rem auto;
  gap: 2rem;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.app .balance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin-bottom: 2rem;
}

.app .balance .balance__label {
  font-size: 2.2rem;
  margin-bottom: -0.2rem;
  color: inherit;
}

.app .balance .balance__date {
  font-size: 1.5rem;
  color: #888;
}

.app .balance .balance__date span {
  font-family: vazirRegular;
}

.app .balance .balance__value {
  font-family: vazirRegular;
  font-size: 4.5rem;
  font-weight: 400;
}

.app .movements {
  background-color: #fff;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / span 3;
  border-radius: 1rem;
  overflow-y: scroll;
  direction: ltr;
}

.app .movements::-webkit-scrollbar {
  width: 0.7rem;
  background-color: #fff;
}

.app .movements::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #bbb;
}

.app .movements .movement__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 4rem;
  border-bottom: 1px solid #eee;
}

.app .movements .movement__row .movement__type {
  font-size: 1.1rem;
  padding: 0.1rem 1rem;
  border-radius: 5rem;
  margin-right: 2rem;
  color: #fff;
}

.app .movements .movement__row .movement__type--deposit {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#39b385), to(#9be15d));
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.app .movements .movement__row .movement__type--withdrawal {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#e52a5a), to(#ff585f));
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.app .movements .movement__row .movement__date {
  font-size: 1.1rem;
  color: #666;
  font-family: vazirRegular;
  direction: rtl;
}

.app .movements .movement__row .movement__value {
  font-size: 1.7rem;
  margin-left: auto;
  font-family: vazirRegular;
}

.app .summary {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 1rem;
  direction: ltr;
}

.app .summary .summary__label {
  font-size: 1.2rem;
  color: inherit;
  margin-right: 0.6rem;
}

.app .summary .summary__value {
  font-family: vazirRegular;
  font-size: 2.2rem;
  margin-right: 2rem;
}

.app .summary .summary__value--in,
.app .summary .summary__value--interest {
  color: #66c873;
}

.app .summary .summary__value--out {
  color: #f5465d;
}

.app .summary .btn--sort {
  font-family: inherit;
  margin-left: auto;
  font-size: 1.3rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.app .summary .btn--sort:hover, .app .summary .btn--sort:focus {
  outline: none;
  color: #777;
}

.app .operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.app .operation h2 {
  font-family: vazirRegular;
  color: #333;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.app .operation .form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5fr 2.5fr 1fr;
      grid-template-columns: 2.5fr 2.5fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  direction: ltr;
  gap: 0.4rem 1rem;
}

.app .operation .form .form__input {
  width: 100%;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.app .operation .form .form__input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

.app .operation .form .form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.app .operation .form .form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.app .operation .form .form__label {
  text-align: center;
  font-size: 1.3rem;
}

.app .operation--transfer {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#ffb003), to(#ffcb03));
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.app .operation--loan {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#39b385), to(#9be15d));
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.app .operation--loan .form--loan {
  -ms-grid-columns: 2.5fr 1fr 2.5fr;
      grid-template-columns: 2.5fr 1fr 2.5fr;
}

.app .operation--loan .form--loan .form__label--loan {
  -ms-grid-row: 2;
  grid-row: 2;
}

.app .operation--close {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#e52a5a), to(#ff585f));
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.app .logout--timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  font-size: 1.25rem;
}

.app .logout--timer .timer {
  font-family: "Poppins", sans-serif;
  margin-right: 0.5rem;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */